:root{
  --color1: #cd5c5c;
  --color2: #c9828279;
  --color3: #a79999;
  --backgroundcolor: #070707;
}

* {
  margin: 0;

}

html {
  background-color: var(--backgroundcolor);
}

body {
  list-style-type: none;
  color: var(--color3);
  font-family: "Plex Sans", sans-serif;
  text-decoration: none;
  width: 100%;
  background-color: #070707;
}

a {
  text-decoration: none;
  color: white;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: large;
}

.conteiner {
  align-content: center;
  max-width: 1240px;
  width: 90%;
  display: block;
  margin: auto;
}

.conteiner-content {
  min-height: 30vh;
}

h6 {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

li {
  list-style-type: none;
}

.social-icons #VK:active,
.social-icons #VK:focus,
.social-icons #VK:hover {
  color: #fff;
  background-color: #29aafe
}

a:hover{
  color: white;
}

.social-icons #YouTube:active,
.social-icons #YouTube:focus,
.social-icons #YouTube:hover {
  color: #fff;
  background-color: red;
}

.topbar {
  background: #070707;
  display: flex;
  font-size: 13px;
}

#img1 {
  display: flex;
  flex-direction: column;
  height: 50%;
  flex-wrap: wrap;
  align-content: center;
}

#img2 {
  width: 60%;
}

ul {
  padding: 0;
}

.toplogo {
  flex-direction: row;
  padding-left: 15px;
  padding-top: 15px;
}

.topbarright {
  margin-left: auto;
}

.topbarright a {
  margin-right: 25px;
}

.contentbar {
  background-color: var(--color1);
  height: auto;
  display: flex;
  flex-direction: row;
  width: 100%;

}

.butt {
  width: 100%;
  justify-self: center;
  display: flex;
  cursor: pointer;
  font-size: 2em;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.button a{
  align-items: center;
  text-align: center;
}

.butt:hover {
  background-color: var(--color2);
}

button{
  padding: 10px 30px;
  margin: 0;
  border: 2px solid #fff;
  background-color: var(--backgroundcolor);
  color: white;
  align-items: center;
}

button:hover{
  background-color: black;
}

footer {
  background-color: black;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  min-height: 20vh;
  font-size: 13px;
  border-top-color: #bbb;
  /* opacity: 0.5;  Затемнение футора*/
  padding-bottom: 10px;
}

footer a {
  height: 100%;
  color: #d3d3d3;
  line-height: 17px;
}

.content {
  padding: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.content h6 {
  margin: 25px;
}

.hr-content{
  opacity: 1;
}

.media-content {
  display: grid;
  justify-content: center;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 15px;
}

.video {
  max-width: 1920px;
}

.img-content {
  width: 100%;
  height: auto;
}

iframe {
  padding: 25px;
  width: 560;
  height: 315;
  max-width: 100%;
  max-height: 100%;
}

h6 {
  font-size: 20px;
  margin: 10px;
  position: relative;
}

.tagbar {
  margin-left: 20vh;
  margin-right: 20vh;
  background-color: #f5f5f5;
  width: 80%;
  height: 5vh;
  font-family: "Plex Sans", sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
}

.tagbar a {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8vh;
}

@media(max-width: 800px) {
  a {
    font-size: large;
  }

  .media-content {
    margin: 0px;
    padding: 0;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
  }

  .content h6 {
    text-align: center;
  }
}